/* src/RegistrationForm.module.scss */
$primary-color: #000000;
$button-disabled-color: #ccc;
$input-border-color: #ccc;
$input-focus-border-color: #000000;
$background-color: #f9f9f9;
$form-width: 300px;

.form {
  width: $form-width;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: $background-color;
  position: fixed;
  justify-content: center;
  align-items: center;
  margin-top: 210px;
  margin-left: 740px;
  .form__title {
    text-align: center;
    margin-bottom: 20px;
  }
  
}
.form__input {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid $input-border-color;

  &:focus {
    border-color: $input-focus-border-color;
  }
}

.Reg-btn {
    width: 30px;
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    justify-content: start;
    display: flex;
    font-size: 1.5rem;
    cursor: pointer;
    &:hover {
      background-color: #555;
    }
  }

.form__button {
  padding: 10px;
  background-color: $primary-color;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 75px;
  &:hover {
    background-color: $button-disabled-color;
    cursor: pointer;
  }
}

.form__Error {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
  }


